checkpoints/resnet_50/best.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/alexnet/best.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/visionnet/best.ckpt filter=lfs diff=lfs merge=lfs -text
